* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
    max-width: 600px;
    overflow-x: hidden;
    margin: auto;
}

.header {
    align-items:center;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgb(214, 214, 138);
    width: 100%;
    height: 17rem;
    align-content: center;
  }

.headlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}  

ul {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    list-style: none;
}

.headerbutton {
    background-color: rgb(171, 113, 13);
    color:azure;
    border: none;
    border-radius: 5%;
    padding: 0.4rem 0.8rem;
    text-align: center;
    white-space: nowrap;
}

.headeranchor {
    text-decoration: none;
    color: azure;
}

.cover-img {
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 2rem;
    object-fit: cover;
}

.herotxt1 {
    position:absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color:aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:400;
    display: flex;
    white-space: nowrap;
    text-align: center;
    
}

.herotxt2 {
position: absolute;
top: 95%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 1.5rem;
color:aliceblue;
background-color: rgb(64, 148, 196);
padding: 0.2rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
white-space: nowrap;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    text-align: center;
}    

#firstitem {
    border-right: 0.1rem solid rgb(204, 13, 13);
    text-decoration: none;
}

#seconditem {
    border-right: 0.1rem solid rgb(204, 13, 13);
}

#thirditem {
    border-right: 0.1rem solid rgb(204, 13, 13);
}

#fourthitem {
    border-right: 0.1rem solid rgb(204, 13, 13);
}

h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(64, 63, 63);
    font-size: 2rem;
}

.itemsanchor {
    text-decoration: none;
    color: rgba(26, 1, 1, 0.926);
}

.items {
    display:flex;
    flex-direction: column;
    background-color: peachpuff;
    width: 80%;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    border-radius: 0 0 20% 20%;
    padding: 2rem 0;
}

.clothes {
    border-radius: 50%;
    filter: drop-shadow(5px 10px 4px #8c8c9e);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.shopbutton {
        background-color: rgb(137, 172, 232);
        color:azure;
        border: none;
        border-radius: 5%;
        margin-left: 5rem;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
}

#footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h3 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(64, 63, 63);
    font-size: 2rem;
    padding-top: 4rem;
    margin-top: 4rem;
}

.footer {
    background-color: rgb(184, 165, 165);
    margin-top: -2rem;
    border-bottom: 0.1rem solid rgb(214, 214, 138);
    padding-bottom: 2rem;
}

.social-icons {
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
  }

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    padding-top: 5rem;
    font-size: 1rem;
    text-align: center;
}

p:last-of-type {
    padding: 0;
}

h4 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: rgb(64, 63, 63);
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(77, 77, 2, 0.451);
}

.headerbutton:hover {
    background-color: rgba(232, 140, 42, 0.764);
    cursor: pointer;
}

.itemsanchor:hover {
    font-size: larger;
    color: bisque;
}

button:hover {
    background-color: rgb(169, 169, 220);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .herotxt1 {
        font-size: 0.7rem;
        color: rgb(41, 12, 12);
        top: -3%;
    }

    .picks {
        font-size: 0.7rem;
    }
}